run = "npm start"
entrypoint = "server.js"
modules = ["nodejs-20"]

hidden = [".config", "node_modules"]

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "production"

[deployment]
run = ["npm", "start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80
